<!DOCTYPE html>
<html lang="kr">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>SLiPP Java Web Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="../css/styles.css" rel="stylesheet">
</head>

<body>

<div>
    <span>안녕하세요! 김규민의 홈페이지 입니다!</span>
</div>
<div>
    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/user/form.html">sign up</a></li>
        </ul>
    </nav>
</div>

<h1>회원가입</h1>
<form name="question" method="get" action="/user/create">
    <div>
        <label for="userId">사용자 아이디</label>
        <input class="form-control" name="userId"id="userId" placeholder="User ID">
    </div>
    <div>
        <label for="password">비밀번호</label>
        <input type="password" name="password" id="password" placeholder="Password">
    </div>
    <div>
        <label for="name">이름</label>
        <input id="name" name="name" placeholder="Name">
    </div>
    <div>
        <label for="email">이메일</label>
        <input type="email" id="email" name="email" placeholder="Email">
    </div>
    <button type="submit" class="btn btn-success clearfix pull-right">회원가입</button>
</form>


<!-- script references -->
<script src="../js/jquery-2.2.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/scripts.js"></script>
</body>

</html>